<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
<sql id="pno_cond">
	where pno = #{pno}
</sql>
	<update id="rmImg" parameterType="java.util.HashMap">
		update tbl_product set imgfile = #{imgfile}
		<include refid="pno_cond" />
	</update>
	<insert id="add" parameterType="pvo">
		insert into tbl_product
		 values(seq_product.nextval,
		  #{title},#{content},#{writer},
		  sysdate,sysdate,0,#{imgfile})
	</insert>
	<select id="list" resultType="pvo" parameterType="cri">
	<![CDATA[
		select pno,title,writer,readcount,modd8
		from (
		SELECT /*+INDEX_DESC(tbl_product tbl_product_pk)*/
		rownum rn, pno, title, writer, readcount, modd8 
		from tbl_product
		where rownum <= #{pageNum} * #{amount}
		)where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	<select id="total" resultType="java.lang.Integer">
		select count(pno) from tbl_product
	</select>
	<select id="detail" parameterType="java.lang.Integer" resultType="pvo">
		select * from tbl_product
		<include refid="pno_cond" />
	</select>
	<update id="modify" parameterType="pvo">
		update tbl_product set
		title = #{title}, content = #{content}, modd8 = sysdate, imgfile = #{imgfile}
		<include refid="pno_cond" />
	</update>
	<delete id="remove" parameterType="java.lang.Integer">
		delete from tbl_product <include refid="pno_cond" />
	</delete>
</mapper>